/**
 * PopMenu Documentation
 * 
 * Stylesheet for index page.
 * 
 * @author   Fajar Chandra
 * @since    2014.05.29
 */

@import url('docs.css');

.menu-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
}

#MenuFrame {
	width: 100%;
	height: 100%;
	border: none;
	position: absolute;
	top: 0;
	left: 0;
}

.content-container {
	position: absolute;
	top: 0;
	right: 0;
	left: 250px;
	bottom: 0;
}

#ContentFrame {
	width: 100%;
	height: 100%;
	border: none;
	position: absolute;
	top: 0;
	left: 0;
}